<section id="main-title">
    <div class="container">
        <div class="slider-container">
            <div class="main-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="img-container">
                                <img src="img/honey-main.png" alt="" class="absolute-center" data-aos="fade-left" data-aos-duration="1000">
                            </div>
                            <div class="text-container">
                                <h1 data-aos="fade-left" data-aos-duration="1200">Сочетание традиций и авторского подхода</h1>
                                <p data-aos="fade-left" data-aos-duration="1300">Уникальный рецепт мёда в красивой, восьмигранной баночке ручной работы. Доступен с «Картой Дружбы».</p>
                                <div class="bottom-side">
                                    <p data-aos="fade-left" data-aos-duration="1400">от <span class="price">1200</span> руб.</p>
                                    <button class="b-animate b-yellow" data-aos="fade-left" data-aos-duration="1500">
												<span class="bg">
													<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z" fill="#FFC300"/>
														<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1" stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
													</svg>
												</span>
                                        <span class="frame">
													<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
													</svg>
												</span>
                                        <span class="text">Узнать подробнее</span>
                                    </button>
                                    <button class="b-animate b-white" data-aos="fade-left" data-aos-duration="1600">
												<span class="bg">
													<svg width="322" height="87" viewBox="0 0 322 87" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g filter="url(#filter0_dd)">
															<path d="M207.728 6.12871C240.403 6.12871 272.292 5.59994 305 5.59994L297 6L301.514 10.0021C301.514 21.608 301.867 27.1202 303.591 38.973C304.086 42.3726 304.263 45.6041 304.263 49.1058C304.263 52.2549 301.403 52.2665 298.413 51.3963C291.017 49.2444 281.743 50.8528 274.022 50.8528C266.635 50.8528 259.269 51.461 251.924 52.0951C230.857 53.914 209.461 50.8418 188.397 52.9104C177.458 53.9848 166.003 52.9493 154.993 52.9493C142.929 52.9493 130.761 52.5047 118.704 52.9881C86.3628 54.2845 53.4449 55.937 21.0615 54.3469C16.2441 54.1103 17.3237 52.6365 17.5037 49.4552C17.6418 47.0132 17.5037 44.5237 17.5037 42.0788V19.7556C17.5037 16.8083 15.4494 10.3216 19.6384 10.3216C21.6851 10.3216 26.1012 9.57662 27.6237 8.38044C29.4141 6.97375 34.1229 7.65455 36.3601 7.17693C44.029 5.53963 51.9325 6.43019 59.723 5.97342C90.557 4.16556 121.664 5.42989 152.345 5.42989C170.831 5.42989 189.235 6.12871 207.728 6.12871Z" fill="white"/>
															<path d="M207.728 6.12871C240.403 6.12871 272.292 5.59994 305 5.59994L297 6L301.514 10.0021C301.514 21.608 301.867 27.1202 303.591 38.973C304.086 42.3726 304.263 45.6041 304.263 49.1058C304.263 52.2549 301.403 52.2665 298.413 51.3963C291.017 49.2444 281.743 50.8528 274.022 50.8528C266.635 50.8528 259.269 51.461 251.924 52.0951C230.857 53.914 209.461 50.8418 188.397 52.9104C177.458 53.9848 166.003 52.9493 154.993 52.9493C142.929 52.9493 130.761 52.5047 118.704 52.9881C86.3628 54.2845 53.4449 55.937 21.0615 54.3469C16.2441 54.1103 17.3237 52.6365 17.5037 49.4552C17.6418 47.0132 17.5037 44.5237 17.5037 42.0788V19.7556C17.5037 16.8083 15.4494 10.3216 19.6384 10.3216C21.6851 10.3216 26.1012 9.57662 27.6237 8.38044C29.4141 6.97375 34.1229 7.65455 36.3601 7.17693C44.029 5.53963 51.9325 6.43019 59.723 5.97342C90.557 4.16556 121.664 5.42989 152.345 5.42989C170.831 5.42989 189.235 6.12871 207.728 6.12871Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
														</g>
														<defs>
														<filter id="filter0_dd" x="0" y="0" width="322" height="86.9998" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
														<feFlood flood-opacity="0" result="BackgroundImageFix"/>
														<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
														<feOffset dy="2"/>
														<feGaussianBlur stdDeviation="3"/>
														<feColorMatrix type="matrix" values="0 0 0 0 0.675 0 0 0 0 0.675 0 0 0 0 0.675 0 0 0 0.1 0"/>
														<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
														<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
														<feOffset dy="15"/>
														<feGaussianBlur stdDeviation="8"/>
														<feColorMatrix type="matrix" values="0 0 0 0 0.479167 0 0 0 0 0.479167 0 0 0 0 0.479167 0 0 0 0.05 0"/>
														<feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow"/>
														<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape"/>
														</filter>
														</defs>
													</svg>
												</span>
                                        <span class="frame">
													<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
													</svg>
												</span>
                                        <span class="text">Посмотреть весь каталог</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="img-container">
                                <img src="img/honey-main.png" alt="" class="absolute-center" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200">
                            </div>
                            <div class="text-container">
                                <h1>Сочетание традиций и авторского подхода</h1>
                                <p>Уникальный рецепт мёда в красивой, восьмигранной баночке ручной работы. Доступен с «Картой Дружбы».</p>
                                <div class="bottom-side">
                                    <p>от <span class="price">1200</span> руб.</p>
                                    <button class="b-animate b-yellow">
												<span class="bg">
													<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z" fill="#FFC300"/>
														<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1" stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
													</svg>
												</span>
                                        <span class="frame">
													<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
													</svg>
												</span>
                                        <span class="text">Узнать подробнее</span>
                                    </button>
                                    <button class="b-animate b-white">
												<span class="bg">
													<svg width="322" height="87" viewBox="0 0 322 87" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g filter="url(#filter0_dd)">
															<path d="M207.728 6.12871C240.403 6.12871 272.292 5.59994 305 5.59994L297 6L301.514 10.0021C301.514 21.608 301.867 27.1202 303.591 38.973C304.086 42.3726 304.263 45.6041 304.263 49.1058C304.263 52.2549 301.403 52.2665 298.413 51.3963C291.017 49.2444 281.743 50.8528 274.022 50.8528C266.635 50.8528 259.269 51.461 251.924 52.0951C230.857 53.914 209.461 50.8418 188.397 52.9104C177.458 53.9848 166.003 52.9493 154.993 52.9493C142.929 52.9493 130.761 52.5047 118.704 52.9881C86.3628 54.2845 53.4449 55.937 21.0615 54.3469C16.2441 54.1103 17.3237 52.6365 17.5037 49.4552C17.6418 47.0132 17.5037 44.5237 17.5037 42.0788V19.7556C17.5037 16.8083 15.4494 10.3216 19.6384 10.3216C21.6851 10.3216 26.1012 9.57662 27.6237 8.38044C29.4141 6.97375 34.1229 7.65455 36.3601 7.17693C44.029 5.53963 51.9325 6.43019 59.723 5.97342C90.557 4.16556 121.664 5.42989 152.345 5.42989C170.831 5.42989 189.235 6.12871 207.728 6.12871Z" fill="white"/>
															<path d="M207.728 6.12871C240.403 6.12871 272.292 5.59994 305 5.59994L297 6L301.514 10.0021C301.514 21.608 301.867 27.1202 303.591 38.973C304.086 42.3726 304.263 45.6041 304.263 49.1058C304.263 52.2549 301.403 52.2665 298.413 51.3963C291.017 49.2444 281.743 50.8528 274.022 50.8528C266.635 50.8528 259.269 51.461 251.924 52.0951C230.857 53.914 209.461 50.8418 188.397 52.9104C177.458 53.9848 166.003 52.9493 154.993 52.9493C142.929 52.9493 130.761 52.5047 118.704 52.9881C86.3628 54.2845 53.4449 55.937 21.0615 54.3469C16.2441 54.1103 17.3237 52.6365 17.5037 49.4552C17.6418 47.0132 17.5037 44.5237 17.5037 42.0788V19.7556C17.5037 16.8083 15.4494 10.3216 19.6384 10.3216C21.6851 10.3216 26.1012 9.57662 27.6237 8.38044C29.4141 6.97375 34.1229 7.65455 36.3601 7.17693C44.029 5.53963 51.9325 6.43019 59.723 5.97342C90.557 4.16556 121.664 5.42989 152.345 5.42989C170.831 5.42989 189.235 6.12871 207.728 6.12871Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
														</g>
														<defs>
														<filter id="filter0_dd" x="0" y="0" width="322" height="86.9998" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
														<feFlood flood-opacity="0" result="BackgroundImageFix"/>
														<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
														<feOffset dy="2"/>
														<feGaussianBlur stdDeviation="3"/>
														<feColorMatrix type="matrix" values="0 0 0 0 0.675 0 0 0 0 0.675 0 0 0 0 0.675 0 0 0 0.1 0"/>
														<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
														<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
														<feOffset dy="15"/>
														<feGaussianBlur stdDeviation="8"/>
														<feColorMatrix type="matrix" values="0 0 0 0 0.479167 0 0 0 0 0.479167 0 0 0 0 0.479167 0 0 0 0.05 0"/>
														<feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow"/>
														<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape"/>
														</filter>
														</defs>
													</svg>
												</span>
                                        <span class="frame">
													<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
													</svg>
												</span>
                                        <span class="text">Посмотреть весь каталог</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <div class="img-container">
                                <img src="img/honey-main.png" alt="" class="absolute-center">
                            </div>
                            <div class="text-container">
                                <h1>Сочетание традиций и авторского подхода</h1>
                                <p>Уникальный рецепт мёда в красивой, восьмигранной баночке ручной работы. Доступен с «Картой Дружбы».</p>
                                <div class="bottom-side">
                                    <p>от <span class="price">1200</span> руб.</p>
                                    <button class="b-animate b-yellow">
												<span class="bg">
													<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z" fill="#FFC300"/>
														<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1" stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
													</svg>
												</span>
                                        <span class="frame">
													<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
													</svg>
												</span>
                                        <span class="text">Узнать подробнее</span>
                                    </button>
                                    <button class="b-animate b-white">
												<span class="bg">
													<svg width="322" height="87" viewBox="0 0 322 87" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g filter="url(#filter0_dd)">
															<path d="M207.728 6.12871C240.403 6.12871 272.292 5.59994 305 5.59994L297 6L301.514 10.0021C301.514 21.608 301.867 27.1202 303.591 38.973C304.086 42.3726 304.263 45.6041 304.263 49.1058C304.263 52.2549 301.403 52.2665 298.413 51.3963C291.017 49.2444 281.743 50.8528 274.022 50.8528C266.635 50.8528 259.269 51.461 251.924 52.0951C230.857 53.914 209.461 50.8418 188.397 52.9104C177.458 53.9848 166.003 52.9493 154.993 52.9493C142.929 52.9493 130.761 52.5047 118.704 52.9881C86.3628 54.2845 53.4449 55.937 21.0615 54.3469C16.2441 54.1103 17.3237 52.6365 17.5037 49.4552C17.6418 47.0132 17.5037 44.5237 17.5037 42.0788V19.7556C17.5037 16.8083 15.4494 10.3216 19.6384 10.3216C21.6851 10.3216 26.1012 9.57662 27.6237 8.38044C29.4141 6.97375 34.1229 7.65455 36.3601 7.17693C44.029 5.53963 51.9325 6.43019 59.723 5.97342C90.557 4.16556 121.664 5.42989 152.345 5.42989C170.831 5.42989 189.235 6.12871 207.728 6.12871Z" fill="white"/>
															<path d="M207.728 6.12871C240.403 6.12871 272.292 5.59994 305 5.59994L297 6L301.514 10.0021C301.514 21.608 301.867 27.1202 303.591 38.973C304.086 42.3726 304.263 45.6041 304.263 49.1058C304.263 52.2549 301.403 52.2665 298.413 51.3963C291.017 49.2444 281.743 50.8528 274.022 50.8528C266.635 50.8528 259.269 51.461 251.924 52.0951C230.857 53.914 209.461 50.8418 188.397 52.9104C177.458 53.9848 166.003 52.9493 154.993 52.9493C142.929 52.9493 130.761 52.5047 118.704 52.9881C86.3628 54.2845 53.4449 55.937 21.0615 54.3469C16.2441 54.1103 17.3237 52.6365 17.5037 49.4552C17.6418 47.0132 17.5037 44.5237 17.5037 42.0788V19.7556C17.5037 16.8083 15.4494 10.3216 19.6384 10.3216C21.6851 10.3216 26.1012 9.57662 27.6237 8.38044C29.4141 6.97375 34.1229 7.65455 36.3601 7.17693C44.029 5.53963 51.9325 6.43019 59.723 5.97342C90.557 4.16556 121.664 5.42989 152.345 5.42989C170.831 5.42989 189.235 6.12871 207.728 6.12871Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
														</g>
														<defs>
														<filter id="filter0_dd" x="0" y="0" width="322" height="86.9998" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
														<feFlood flood-opacity="0" result="BackgroundImageFix"/>
														<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
														<feOffset dy="2"/>
														<feGaussianBlur stdDeviation="3"/>
														<feColorMatrix type="matrix" values="0 0 0 0 0.675 0 0 0 0 0.675 0 0 0 0 0.675 0 0 0 0.1 0"/>
														<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
														<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
														<feOffset dy="15"/>
														<feGaussianBlur stdDeviation="8"/>
														<feColorMatrix type="matrix" values="0 0 0 0 0.479167 0 0 0 0 0.479167 0 0 0 0 0.479167 0 0 0 0.05 0"/>
														<feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow"/>
														<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape"/>
														</filter>
														</defs>
													</svg>
												</span>
                                        <span class="frame">
													<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
														<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
													</svg>
												</span>
                                        <span class="text">Посмотреть весь каталог</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-pagination common-pagination" data-aos="fade" data-aos-duration="1000" data-aos-delay="1500"></div>
        </div>
    </div>
</section>
<section id="main-apiary">
    <div class="container">
        <div class="row">
            <div class="col col-12 order-2 col-xl-6 order-xl-1">
                <div class="text-container">
                    <p>«Всё, что мы продаём на этом сайте вырощено и приготовлено нашей семьёй на нашей ферме, на Алтае. Это полезные, 100% натуральные <br> и экологически чистые продукты.»</p>
                </div>
            </div>
            <div class="col col-12 order-1 col-xl-6 order-xl-2">
                <div class="img-container">
                    <img src="img/main-apiary.jpg" alt="" class="absolute-center">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="main-catalog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-12 col-md-6 col-xl-3">
                <a href="#" class="item">
                    <div class="img-container">
                        <img src="img/main-cat-1.png" alt="" class="main fit-cover">
                        <img src="img/main-cat-alt.png" alt="" class="alt fit-cover">
                    </div>
                    <div class="text-container">
                        <h3>Мёд</h3>
                        <button class="b-animate">
									<span class="bg">
										<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z" fill="#FFC300"/>
										<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1" stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span>
                            <span class="frame">
										<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
										</svg>
									</span>
                            <span class="text">Посмотреть весь мёд</span>
                        </button>
                    </div>
                </a>
            </div>
            <div class="col col-12 col-md-6 col-xl-3">
                <a href="#" class="item">
                    <div class="img-container">
                        <img src="img/main-cat-2.png" alt="" class="main fit-cover">
                        <img src="img/main-cat-alt.png" alt="" class="alt fit-cover">
                    </div>
                    <div class="text-container">
                        <h3>Наши секретные рецепты</h3>
                        <button class="b-animate b-black">
									<span class="bg">
										<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M265.613 3.04918C272.056 3.04918 278.488 2.30456 284.956 2.23474C285.391 4.09417 285.465 6.09083 285.91 7.96721C286.548 10.6543 288.098 13.2609 288.098 16.0729C288.098 19.2179 288.535 22.2684 288.535 25.3852C288.535 29.7532 287.716 34.1263 288.122 38.5C288.411 41.608 289.15 44.5706 288.973 47.7213C288.855 49.8155 281.154 49.3607 279.153 49.3607C276.18 49.3607 273.299 50.1803 270.402 50.1803C266.026 50.1803 261.651 50.2025 257.275 50.1803C249.232 50.1396 241.218 49.6725 233.162 49.7705C223.313 49.8903 213.467 50.1803 203.603 50.1803C194.002 50.1803 184.433 49.493 174.823 49.3607C154.747 49.0841 134.594 48.4216 114.539 49.3379C94.5684 50.2504 74.587 49.3607 54.5958 49.3607C43.2132 49.3607 31.7897 49.7705 20.4675 49.7705C16.3529 49.7705 12.5889 51 8.48365 51C6.54614 51 4.21902 50.0326 3.7193 47.9262C3.59567 47.4051 3.47287 45.7194 3.16022 45.3534C1.84828 43.8173 2.38236 40.0513 2.38236 38.1129V26.6375C2.38236 23.9884 1.94482 21.7525 1.94482 19.0328C1.94482 15.6802 2.24737 12.2138 1.48297 8.9918C1.03886 7.11985 0.61416 4.80138 1.60451 3.04918C2.4747 1.50956 4.94434 1.81967 6.66056 1.81967C19.5126 1.81967 32.6029 1.40984 45.5533 1.40984H78.7093C93.1256 1.40984 107.674 2.53867 122.075 1.61475C139.48 0.498116 157.024 2.22951 174.434 2.22951C180.554 2.22951 186.641 2.63934 192.762 2.63934C196.496 2.63934 200.17 2.22951 203.895 2.22951C211.75 2.22951 219.575 2.49688 227.425 2.66211C235.01 2.82176 242.509 2.63934 250.08 2.63934C255.267 2.63934 260.432 3.04918 265.613 3.04918Z" fill="#211F1F"/>
										<path d="M285.91 2.22951C279.12 2.22951 272.373 3.04918 265.613 3.04918C260.432 3.04918 255.267 2.63934 250.08 2.63934C242.509 2.63934 235.01 2.82176 227.425 2.66211C219.575 2.49688 211.75 2.22951 203.895 2.22951C200.17 2.22951 196.496 2.63934 192.762 2.63934C186.641 2.63934 180.554 2.22951 174.434 2.22951C157.024 2.22951 139.48 0.498116 122.075 1.61475C107.674 2.53867 93.1256 1.40984 78.7093 1.40984C67.6573 1.40984 56.6053 1.40984 45.5533 1.40984C32.6029 1.40984 19.5126 1.81967 6.66056 1.81967C4.94434 1.81967 2.4747 1.50956 1.60451 3.04918C0.61416 4.80138 1.03886 7.11985 1.48297 8.9918C2.24737 12.2138 1.94482 15.6802 1.94482 19.0328C1.94482 21.7525 2.38236 23.9884 2.38236 26.6375C2.38236 30.4627 2.38236 34.2878 2.38236 38.1129C2.38236 40.0513 1.84828 43.8173 3.16022 45.3534C3.47287 45.7194 3.59567 47.4051 3.7193 47.9262C4.21902 50.0326 6.54614 51 8.48365 51C12.5889 51 16.3529 49.7705 20.4675 49.7705C31.7897 49.7705 43.2132 49.3607 54.5958 49.3607C74.587 49.3607 94.5684 50.2504 114.539 49.3379C134.594 48.4216 154.747 49.0841 174.823 49.3607C184.433 49.493 194.002 50.1803 203.603 50.1803C213.467 50.1803 223.313 49.8903 233.162 49.7705C241.218 49.6725 249.232 50.1396 257.275 50.1803C261.651 50.2025 266.026 50.1803 270.402 50.1803C273.299 50.1803 276.18 49.3607 279.153 49.3607C281.154 49.3607 288.855 49.8155 288.973 47.7213C289.15 44.5706 288.411 41.608 288.122 38.5C287.716 34.1263 288.535 29.7532 288.535 25.3852C288.535 22.2684 288.098 19.2179 288.098 16.0729C288.098 13.2609 286.548 10.6543 285.91 7.96721C285.365 5.66745 285.376 3.187 284.598 1" stroke="#211F1F" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span>
                            <span class="frame">
										<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="1" y="1" stroke="#211F1F" stroke-width="2"/>
										</svg>
									</span>
                            <span class="text">Открыть с «Картой Дружбы»</span>
                        </button>
                    </div>
                </a>
            </div>
            <div class="col col-12 col-md-6 col-xl-3">
                <a href="#" class="item">
                    <div class="img-container">
                        <img src="img/main-cat-3.png" alt="" class="main fit-cover">
                        <img src="img/main-cat-alt.png" alt="" class="alt fit-cover">
                    </div>
                    <div class="text-container">
                        <h3>Чай</h3>
                        <button class="b-animate">
									<span class="bg">
										<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z" fill="#FFC300"/>
										<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1" stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span>
                            <span class="frame">
										<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
										</svg>
									</span>
                            <span class="text">Посмотреть весь чай</span>
                        </button>
                    </div>
                </a>
            </div>
            <div class="col col-12 col-md-6 col-xl-3">
                <a href="#" class="item">
                    <div class="img-container">
                        <img src="img/main-cat-4.png" alt="" class="main fit-cover">
                        <img src="img/main-cat-alt.png" alt="" class="alt fit-cover">
                    </div>
                    <div class="text-container">
                        <h3>Подарки</h3>
                        <button class="b-animate">
									<span class="bg">
										<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z" fill="#FFC300"/>
										<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1" stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span>
                            <span class="frame">
										<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
										</svg>
									</span>
                            <span class="text">Посмотреть все подарки</span>
                        </button>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="btn-container">
                    <a href="#">
                        <svg width="220" height="73" viewBox="0 0 220 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="svg-check" d="M76.8566 12.1154C61.3138 13.3625 45.8868 15.1689 30.5706 17.8479C23.744 19.0419 16.3104 20.1747 11.1627 24.6051C5.42965 29.5393 3.09662 34.5677 1.20243 41.1939C-0.833635 48.3165 13.0491 53.1625 17.7541 55.6692C32.1499 63.3389 48.1905 68.1668 64.8456 70.4326C76.3829 72.0021 88.6357 71.7448 100.292 71.9378C127.291 72.3847 154.956 70.4264 181.476 66.0132C193.615 63.9931 206.109 61.9635 214.982 53.8758C229.988 40.1979 198.933 22.6034 187.811 17.9439C149.843 2.03724 105.039 -1.13918 63.6006 2.18773C52.6976 3.0631 42.6705 5.58497 32.2917 8.36852C27.6903 9.60258 22.7577 10.7069 18.8526 13.2683" stroke="#211F1F" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>Перейти в каталог</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="main-meeting">
    <img src="img/dec/dec-flowers-1.svg" alt="" class="dec flower-1">
    <img src="img/dec/dec-flowers-2.svg" alt="" class="dec flower-2">
    <img src="img/dec/dec-bee-1.svg" alt="" class="dec bee-1">
    <img src="img/dec/dec-bee-2.svg" alt="" class="dec bee-2">
    <img src="img/dec/dec-bee-3.svg" alt="" class="dec bee-3">
    <img src="img/dec/dec-bee-4.svg" alt="" class="dec bee-4">
    <div class="video-container">
        <video id="video" autoplay loop muted playsinline>
            <source src="video/bg-video-h.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            <source src="video/video-bg-h.ogv" type='video/ogg; codecs="theora, vorbis"'>
            <source src="video/video-bg-h.webm" type='video/webm; codecs="vp8, vorbis"'>
        </video>
        <!-- <svg width="0" height="0">
            <defs>
                <clipPath id="video-frame" clipPathUnits="objectBoundingBox">
                    <path transform="scale(0.00135, 0.00254)" d="M21.8902 715.968C-10.4828 708.709 0.0750713 245.518 9.40064 14.8295C40.3749 -18.9421 1271.35 14.8295 1337.79 19.87C1390.95 23.9024 1356.95 485.615 1333.3 715.968C1333.3 715.968 62.3565 725.041 21.8902 715.968Z"/>
                </clipPath>
            </defs>
        </svg>	 -->
        <button class="b-animate b-yellow">
					<span class="bg">
						<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z" fill="#FFC300"/>
						<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1" stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</span>
            <span class="frame">
						<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
						</svg>
					</span>
            <span class="text">Познакомиться с пасекой</span>
        </button>
    </div>
</section>
<section id="main-feedback">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-10 col-md-6 col-xl-4">
                <div class="slider-container">
                    <div class="feedback-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img-container">
                                        <img src="img/feedback-1.jpg" alt="" class="absolute-center">
                                    </div>
                                    <div class="text-container">
                                        <h2>«Никогда ничего подобного не пробовал! Другой Мёд — лучшее, что могло со мной случится!»</h2>
                                        <a href="#">
													<span class="icon">
														<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M15.6484 1.12535C13.5024 0.905241 11.2636 1.05903 9.10518 1.05903C7.39306 1.05903 5.64822 1.17975 3.94352 1.32798C3.53746 1.36329 3.14208 1.37482 2.7314 1.39061C2.33615 1.40581 2.03825 1.68097 1.68875 1.78851C1.21475 1.93436 1.25769 2.49083 1.25769 2.87906C1.25769 3.26218 1.22001 3.75414 1.11032 4.12434C0.896985 4.84434 1.05874 5.84204 1.05874 6.58911C1.05874 7.53843 1.05874 8.48774 1.05874 9.43705C1.05874 10.1465 0.934915 11.0053 1.06242 11.7066C1.34184 13.2433 1.2142 14.9306 1.25769 16.4961C1.27378 17.0753 1.39032 17.6612 1.39032 18.2351C1.39032 18.8459 1.55025 19.0655 1.95033 19.4656C2.3379 19.8532 3.11708 19.8809 3.63773 19.812C4.79185 19.6592 5.85434 19.4951 7.03094 19.4951C9.17887 19.4951 11.3268 19.4951 13.4747 19.4951C14.262 19.4951 15.0426 19.5614 15.829 19.5614C16.4341 19.5614 17.0341 19.6277 17.6379 19.6277C17.8731 19.6277 18.4221 19.5155 18.5516 19.2962C18.7594 18.9446 18.898 18.4684 18.898 18.0619C18.898 17.3339 19.0524 16.5646 19.1632 15.844C19.4349 14.0781 19.4285 12.3317 19.4285 10.546C19.4285 9.65382 19.4782 8.74616 19.3769 7.86019C19.2827 7.03539 19.4527 6.15533 19.2811 5.34015C19.154 4.73608 19.2032 4.12233 19.0601 3.50907C18.9226 2.92008 18.6204 2.0086 18.1058 1.62272C17.7617 1.36461 17.5355 1.06946 17.0558 1.05903C16.7562 1.05251 15.1673 0.893959 15.0516 1.12535" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M11.1389 6.62961C9.99883 6.52701 9.0352 6.25302 8.03676 6.89488C7.36028 7.32976 6.59114 7.7929 6.19462 8.52333C5.86503 9.13047 5.82243 9.80024 5.83356 10.4907C5.84006 10.8938 5.89114 11.3045 6.01778 11.6844C6.18684 12.1916 6.69213 12.6032 7.02727 13.0108C7.73153 13.8673 9.32596 14.4668 10.4168 14.1234C11.3377 13.8335 12.4416 13.1836 13.0105 12.3844C13.4984 11.6991 13.8428 10.83 13.8579 9.9823C13.8693 9.34274 13.7339 8.85764 13.5263 8.25806C13.1547 7.18445 12.0095 6.80543 11.0726 6.43066" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M15.1841 5.17063C14.9713 5.13009 14.4541 4.95742 14.3847 5.27011C14.3268 5.53051 14.2565 5.92125 14.591 6.03275C14.9044 6.13723 15.1888 6.15078 15.3831 5.84854C15.58 5.54216 15.5991 5.14598 15.2505 4.97168" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
													</span>
                                            <span class="text">Константин Константинополев</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img-container">
                                        <img src="img/feedback-2.jpg" alt="" class="absolute-center">
                                    </div>
                                    <div class="text-container">
                                        <h2>«Никогда ничего подобного не пробовал! Другой Мёд — лучшее, что могло со мной случится!»</h2>
                                        <a href="#">
													<span class="icon">
														<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M15.6484 1.12535C13.5024 0.905241 11.2636 1.05903 9.10518 1.05903C7.39306 1.05903 5.64822 1.17975 3.94352 1.32798C3.53746 1.36329 3.14208 1.37482 2.7314 1.39061C2.33615 1.40581 2.03825 1.68097 1.68875 1.78851C1.21475 1.93436 1.25769 2.49083 1.25769 2.87906C1.25769 3.26218 1.22001 3.75414 1.11032 4.12434C0.896985 4.84434 1.05874 5.84204 1.05874 6.58911C1.05874 7.53843 1.05874 8.48774 1.05874 9.43705C1.05874 10.1465 0.934915 11.0053 1.06242 11.7066C1.34184 13.2433 1.2142 14.9306 1.25769 16.4961C1.27378 17.0753 1.39032 17.6612 1.39032 18.2351C1.39032 18.8459 1.55025 19.0655 1.95033 19.4656C2.3379 19.8532 3.11708 19.8809 3.63773 19.812C4.79185 19.6592 5.85434 19.4951 7.03094 19.4951C9.17887 19.4951 11.3268 19.4951 13.4747 19.4951C14.262 19.4951 15.0426 19.5614 15.829 19.5614C16.4341 19.5614 17.0341 19.6277 17.6379 19.6277C17.8731 19.6277 18.4221 19.5155 18.5516 19.2962C18.7594 18.9446 18.898 18.4684 18.898 18.0619C18.898 17.3339 19.0524 16.5646 19.1632 15.844C19.4349 14.0781 19.4285 12.3317 19.4285 10.546C19.4285 9.65382 19.4782 8.74616 19.3769 7.86019C19.2827 7.03539 19.4527 6.15533 19.2811 5.34015C19.154 4.73608 19.2032 4.12233 19.0601 3.50907C18.9226 2.92008 18.6204 2.0086 18.1058 1.62272C17.7617 1.36461 17.5355 1.06946 17.0558 1.05903C16.7562 1.05251 15.1673 0.893959 15.0516 1.12535" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M11.1389 6.62961C9.99883 6.52701 9.0352 6.25302 8.03676 6.89488C7.36028 7.32976 6.59114 7.7929 6.19462 8.52333C5.86503 9.13047 5.82243 9.80024 5.83356 10.4907C5.84006 10.8938 5.89114 11.3045 6.01778 11.6844C6.18684 12.1916 6.69213 12.6032 7.02727 13.0108C7.73153 13.8673 9.32596 14.4668 10.4168 14.1234C11.3377 13.8335 12.4416 13.1836 13.0105 12.3844C13.4984 11.6991 13.8428 10.83 13.8579 9.9823C13.8693 9.34274 13.7339 8.85764 13.5263 8.25806C13.1547 7.18445 12.0095 6.80543 11.0726 6.43066" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M15.1841 5.17063C14.9713 5.13009 14.4541 4.95742 14.3847 5.27011C14.3268 5.53051 14.2565 5.92125 14.591 6.03275C14.9044 6.13723 15.1888 6.15078 15.3831 5.84854C15.58 5.54216 15.5991 5.14598 15.2505 4.97168" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
													</span>
                                            <span class="text">Константин Константинополев</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img-container">
                                        <img src="img/feedback-3.jpg" alt="" class="absolute-center">
                                    </div>
                                    <div class="text-container">
                                        <h2>«Никогда ничего подобного не пробовал! Другой Мёд — лучшее, что могло со мной случится!»</h2>
                                        <a href="#">
													<span class="icon">
														<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M15.6484 1.12535C13.5024 0.905241 11.2636 1.05903 9.10518 1.05903C7.39306 1.05903 5.64822 1.17975 3.94352 1.32798C3.53746 1.36329 3.14208 1.37482 2.7314 1.39061C2.33615 1.40581 2.03825 1.68097 1.68875 1.78851C1.21475 1.93436 1.25769 2.49083 1.25769 2.87906C1.25769 3.26218 1.22001 3.75414 1.11032 4.12434C0.896985 4.84434 1.05874 5.84204 1.05874 6.58911C1.05874 7.53843 1.05874 8.48774 1.05874 9.43705C1.05874 10.1465 0.934915 11.0053 1.06242 11.7066C1.34184 13.2433 1.2142 14.9306 1.25769 16.4961C1.27378 17.0753 1.39032 17.6612 1.39032 18.2351C1.39032 18.8459 1.55025 19.0655 1.95033 19.4656C2.3379 19.8532 3.11708 19.8809 3.63773 19.812C4.79185 19.6592 5.85434 19.4951 7.03094 19.4951C9.17887 19.4951 11.3268 19.4951 13.4747 19.4951C14.262 19.4951 15.0426 19.5614 15.829 19.5614C16.4341 19.5614 17.0341 19.6277 17.6379 19.6277C17.8731 19.6277 18.4221 19.5155 18.5516 19.2962C18.7594 18.9446 18.898 18.4684 18.898 18.0619C18.898 17.3339 19.0524 16.5646 19.1632 15.844C19.4349 14.0781 19.4285 12.3317 19.4285 10.546C19.4285 9.65382 19.4782 8.74616 19.3769 7.86019C19.2827 7.03539 19.4527 6.15533 19.2811 5.34015C19.154 4.73608 19.2032 4.12233 19.0601 3.50907C18.9226 2.92008 18.6204 2.0086 18.1058 1.62272C17.7617 1.36461 17.5355 1.06946 17.0558 1.05903C16.7562 1.05251 15.1673 0.893959 15.0516 1.12535" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M11.1389 6.62961C9.99883 6.52701 9.0352 6.25302 8.03676 6.89488C7.36028 7.32976 6.59114 7.7929 6.19462 8.52333C5.86503 9.13047 5.82243 9.80024 5.83356 10.4907C5.84006 10.8938 5.89114 11.3045 6.01778 11.6844C6.18684 12.1916 6.69213 12.6032 7.02727 13.0108C7.73153 13.8673 9.32596 14.4668 10.4168 14.1234C11.3377 13.8335 12.4416 13.1836 13.0105 12.3844C13.4984 11.6991 13.8428 10.83 13.8579 9.9823C13.8693 9.34274 13.7339 8.85764 13.5263 8.25806C13.1547 7.18445 12.0095 6.80543 11.0726 6.43066" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														<path d="M15.1841 5.17063C14.9713 5.13009 14.4541 4.95742 14.3847 5.27011C14.3268 5.53051 14.2565 5.92125 14.591 6.03275C14.9044 6.13723 15.1888 6.15078 15.3831 5.84854C15.58 5.54216 15.5991 5.14598 15.2505 4.97168" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
													</span>
                                            <span class="text">Константин Константинополев</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-pagination common-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="main-delivery">
    <img src="img/dec/dec-flowers-3.svg" alt="" class="dec flower-3">
    <img src="img/dec/dec-flowers-3-mobile.svg" alt="" class="dec flower-3 mobile">
    <img src="img/dec/dec-bee-5.svg" alt="" class="dec bee-5">
    <div class="container">
        <div class="wrapper">
            <div class="row justify-content-xl-end">
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="item">
                        <h2>Доставка</h2>
                        <p>Бесплатно при заказе от 3000 ₽. Так же доступна плтная доставка курьером и самовывоз в Москве.</p>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="item">
                        <h2>Оплата</h2>
                        <p>Оплачивайте покупки картой на сайте, наличными или картой при доставке курьером или самовывозе.</p>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="item">
                        <h2>Возврат</h2>
                        <p>Оплачивайте покупки картой на сайте, наличными или картой при доставке курьером или самовывозе.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="main-blog">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-xl-6">
                <div class="img-container">
                    <img src="img/main-blog.jpg" alt="" class="absolute-center">
                </div>
            </div>
            <div class="col col-12 col-xl-6">
                <div class="text-container">
                    <h2>Как будто пасека на другой планете</h2>
                    <p>Описание laborum incididunt sunt do minim laboris officia nisi mollit velit. Enim eu nisi sunt eiusmod aliquip. Amet et do consectetur labore. Consequat ex ipsum esse aliquip non aute consequat ex ex dolore sunt aliquip.</p>
                    <div class="buttons">
                        <button class="b-animate b-yellow">
									<span class="bg">
										<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z" fill="#FFC300"/>
										<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1" stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span>
                            <span class="frame">
										<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
										</svg>
									</span>
                            <span class="text">Читать дальше</span>
                        </button>
                        <button class="b-animate b-white">
									<span class="bg">
										<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M191.728 2.12871C224.403 2.12871 256.292 1.59994 289 1.59994L281 2L285.514 6.00208C285.514 17.608 285.867 23.1202 287.591 34.973C288.086 38.3726 288.263 41.6041 288.263 45.1058C288.263 48.2549 285.403 48.2665 282.413 47.3963C275.017 45.2444 265.743 46.8528 258.022 46.8528C250.635 46.8528 243.269 47.461 235.924 48.0951C214.857 49.914 193.461 46.8418 172.397 48.9104C161.458 49.9848 150.003 48.9493 138.993 48.9493C126.929 48.9493 114.761 48.5047 102.704 48.9881C70.3628 50.2845 37.4449 51.937 5.06149 50.3469C0.244113 50.1103 1.32372 48.6365 1.50368 45.4552C1.64182 43.0132 1.50368 40.5237 1.50368 38.0788V15.7556C1.50368 12.8083 -0.550639 6.32159 3.63836 6.32159C5.68508 6.32159 10.1012 5.57662 11.6237 4.38044C13.4141 2.97375 18.1229 3.65455 20.3601 3.17693C28.029 1.53963 35.9325 2.43019 43.723 1.97342C74.557 0.165563 105.664 1.42989 136.345 1.42989C154.831 1.42989 173.235 2.12871 191.728 2.12871Z" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span>
                            <span class="frame">
										<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
										</svg>
									</span>
                            <span class="text">Другие статьи в блоге</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
