<footer>
    <img src="img/dec/dec-bee-6.svg" alt="" class="dec bee-6">
    <div class="container">
        <div class="row">
            <div class="col d-none d-xl-block col-xl-3">
                <div class="footer-img">
                    <img src="img/dec/dec-flowers-4.svg" alt="" class="dec flower-4">
                </div>
            </div>
            <div class="col d-none d-xl-block col-xl-3">
                <div class="footer-menu common-social">
                    <ul>
                        <li><a href="catalog.html">Каталог</a></li>
                        <li><a href="apiary.html">Наша пасека</a></li>
                        <li><a href="delivery.html">Доставка и оплата</a></li>
                        <li><a href="blog.html">Блог</a></li>
                    </ul>
                    <div class="social">
                        <a href="#">
                            <svg width="23" height="19" viewBox="0 0 23 19" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.65285 1.01659C3.22656 1.01659 2.57638 0.906734 2.23072 1.25238C1.93961 1.5435 1.44665 1.67113 1.31703 2.0924C0.941431 3.31308 1.26545 4.80556 1.26545 6.05667C1.26545 7.97396 1.13281 9.87905 1.13281 11.7968C1.13281 12.5893 1.19913 13.3826 1.19913 14.1694C1.19913 14.8295 1.19224 15.4402 1.3465 16.0852C1.44131 16.4817 1.98062 17.5225 2.43336 17.5921C3.04131 17.6856 3.6946 17.5295 4.30128 17.5295C7.0092 17.5295 9.70398 17.3968 12.4104 17.3968C13.1177 17.3968 13.8197 17.4632 14.5214 17.4632C14.9685 17.4632 15.4155 17.4632 15.8625 17.4632C16.4147 17.4632 17.1878 17.6159 17.7083 17.43C18.1709 17.2648 18.9271 17.3968 19.4141 17.3968C19.9158 17.3968 20.3279 17.4123 20.7847 17.2274C21.903 16.7747 21.5369 15.3614 21.7058 14.3905C21.9631 12.9109 21.9563 11.3067 21.9563 9.80357C21.9563 8.37085 22.0289 6.90935 21.8937 5.48929C21.8314 4.83518 21.89 4.14972 21.89 3.49242C21.89 3.14516 21.9469 2.41858 21.7058 2.12924C21.6029 2.00576 21.4863 1.72644 21.3558 1.65029C21.1622 1.53739 20.9382 1.44847 20.7257 1.37765C19.6864 1.03119 18.6213 1.14923 17.5278 1.14923C16.2076 1.14923 14.8874 1.14923 13.5672 1.14923C10.042 1.14923 6.50924 1.01659 2.98968 1.01659"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M1 4.86279C1.33774 5.32212 1.7172 5.63862 2.28949 5.79123C2.60769 5.87608 2.87652 6.07609 3.16267 6.22597C4.46682 6.9091 5.91364 7.28645 7.23378 7.94653C8.41843 8.53885 9.72757 9.0093 10.8517 9.60445C11.1202 9.74659 11.3842 9.88869 11.6475 10.0392C12.0152 10.2493 11.9483 10.1568 12.2665 9.84392C12.4321 9.68111 12.6456 9.53838 12.8376 9.4055C13.4052 9.01248 14.2114 8.88622 14.8307 8.57653C15.8928 8.0455 16.9565 7.53801 18.0139 6.99967C18.6382 6.68186 19.2337 6.32317 19.8856 6.0565C20.2266 5.91698 20.6058 5.80269 20.9098 5.59228C21.1468 5.42817 21.3651 5.36128 21.6245 5.24596C21.8092 5.16388 22.0718 4.89211 21.7572 5.12806"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="23" height="24" viewBox="0 0 23 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.69628 17.8748C2.6103 18.3278 2.65465 18.7704 2.58709 19.2196C2.49892 19.8058 2.31842 20.3336 2.16026 20.9031C2.0592 21.267 1.91997 21.6931 1.89225 22.0686C1.86575 22.4275 1.3553 22.8027 1.94188 22.5368C2.73049 22.1794 3.5936 21.927 4.34903 21.5058C4.91978 21.1876 5.61194 21.0127 6.26978 21.0127"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M2.60807 17.6058C2.01741 16.766 1.61257 16.1408 1.31764 15.1452C1.0568 14.2647 1 13.3376 1 12.4257C1 10.3749 1.00557 8.27736 1.98271 6.4387C2.42206 5.612 2.93769 4.71301 3.61064 4.04789C4.30145 3.36512 5.28969 2.87064 6.18157 2.51379C6.66318 2.32109 7.24855 2.01981 7.75987 1.91609C10.1814 1.42489 12.9686 1.60685 15.3784 2.10038C16.4043 2.31049 17.7755 3.15438 18.4605 3.95326C18.8701 4.43093 19.1375 5.02973 19.5226 5.53219C19.8193 5.91922 20.131 6.30905 20.3664 6.73756C20.9948 7.88157 21.3642 9.3866 21.637 10.6575C22.0032 12.3639 22.092 14.1465 21.905 15.8824C21.7677 17.1568 21.2903 18.0143 20.3068 18.8311C17.7771 20.9321 14.6756 22.3575 11.3731 22.3575C10.1099 22.3575 8.56156 22.4376 7.41244 21.7997C7.0378 21.5917 6.63031 21.507 6.22128 21.3912C5.92452 21.3072 5.67074 21.1108 5.37754 21.0127"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M8.71349 11.3651C9.19595 10.726 9.55544 10.4545 9.1361 9.65959C8.86506 9.1458 8.68429 8.59576 8.51118 8.03983C8.36401 7.56721 7.59659 7.78233 7.4007 8.11653C7.12949 8.57923 6.82754 9.04526 6.60942 9.53777C6.09052 10.7095 7.01841 12.1512 7.80532 12.9713C8.47589 13.6701 9.13429 14.3809 9.85544 15.0242C10.6762 15.7563 11.9799 16.1822 12.9576 16.644C13.5512 16.9243 14.3253 16.7252 14.9448 16.7252C15.5144 16.7252 16.4014 16.4088 16.4014 15.7055C16.4014 15.4363 16.4014 15.1671 16.4014 14.8979C16.4014 14.6124 15.7695 14.6273 15.5112 14.6136C14.9112 14.5819 14.2322 14.2527 13.7713 13.8827C13.6747 13.8051 13.7773 14.2926 13.6859 14.4106C13.5211 14.6232 13.2574 14.6814 13.0385 14.8212C12.7396 15.0121 11.5215 14.4366 11.1592 14.3068C10.4456 14.051 9.72703 13.438 9.19904 12.9081C8.72858 12.436 8.80207 11.7827 8.47071 11.2839"
                                      stroke="#211F1F" stroke-width="1.35876" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M7.82258 8.38475C7.8502 8.37287 8.17884 8.24501 8.09799 8.31159C7.92084 8.45746 7.58576 8.56115 7.53772 8.8183C7.51283 8.95152 7.90401 8.82372 7.98864 8.82372C8.01924 8.82372 8.04984 8.82372 8.08044 8.82372C8.08177 8.82372 8.13724 8.82469 8.13039 8.83456C8.05928 8.93715 7.76734 9.00326 7.66597 9.04321C7.4346 9.1344 7.04366 9.20542 6.86674 9.39819C6.7941 9.47733 7.02976 9.44716 7.03144 9.44696C7.42932 9.40053 7.85518 9.2971 8.23705 9.17734C8.28814 9.16132 8.34156 9.16993 8.3923 9.15296C8.40348 9.14922 8.43486 9.14787 8.4274 9.15702C8.32634 9.28099 8.10593 9.35044 7.97108 9.42528C7.73809 9.55461 7.51351 9.70445 7.30416 9.86968C7.17927 9.96824 6.92665 10.1158 6.90319 10.2924C6.89657 10.3422 7.54591 10.211 7.56742 10.2057C7.8422 10.1379 8.10194 10.043 8.33965 9.88865C8.38412 9.85977 8.42682 9.84665 8.46791 9.80871C8.49569 9.78305 8.62368 9.59624 8.57321 9.65019C8.35352 9.88504 8.04037 10.032 7.77668 10.2084C7.49116 10.3994 7.09245 10.6235 6.91534 10.9346C6.89413 10.9718 6.85286 11.0392 6.93154 11.0227C7.16654 10.9734 7.41158 10.8611 7.62817 10.7639C8.01836 10.5888 8.34786 10.3722 8.64746 10.0716C8.76534 9.95326 9.14631 9.76189 8.80137 10.0241C8.33111 10.3817 7.7972 10.6461 7.32576 11.001C7.21601 11.0836 7.05051 11.2311 7.07465 11.3898C7.09977 11.5551 7.2292 11.4867 7.34466 11.4359C7.86107 11.2087 8.29696 10.9164 8.70282 10.5268C8.7575 10.4743 8.81603 10.449 8.88642 10.4238C8.89973 10.4191 8.87494 10.4505 8.86482 10.4604C8.66904 10.6517 8.45799 10.8269 8.26 11.0159C8.03148 11.2341 7.78579 11.4092 7.82798 11.7394C7.83759 11.8146 7.74849 11.8736 7.70377 11.9237C7.62644 12.0103 7.43968 12.2905 7.46481 12.177C7.51751 11.939 7.60364 11.698 7.56202 11.4494C7.52509 11.229 7.39457 10.992 7.26365 10.8113C7.16687 10.6778 7.04217 10.5854 6.90994 10.4889C6.77319 10.389 6.79536 10.2567 6.78303 10.0973C6.77939 10.0502 6.71825 9.70768 6.78843 9.7911C7.19726 10.277 7.4158 10.9214 7.70242 11.4833C7.89132 11.8536 8.07502 12.2401 8.3572 12.5496C8.62422 12.8425 8.92964 13.111 9.21314 13.3883C9.67456 13.8394 10.2579 14.2 10.8697 14.4071C11.3157 14.5581 11.7539 14.7544 12.2157 14.8529C12.8521 14.9886 13.5956 15.0094 14.1139 14.5521C14.1384 14.5304 14.1341 14.4577 14.1652 14.4681C14.2037 14.481 14.2558 14.5397 14.2975 14.5602C14.5194 14.6695 14.7907 14.6369 15.0238 14.716C15.3396 14.8232 15.6556 14.9306 15.9729 15.0331C16.1667 15.0957 16.1543 15.079 15.9958 15.1997C15.8938 15.2775 15.7702 15.3418 15.715 15.4626C15.6628 15.5768 15.6149 15.6933 15.5638 15.808C15.5066 15.9365 15.4525 16.0369 15.3127 16.0912C14.9445 16.2342 14.5194 16.2367 14.1301 16.2497C13.7741 16.2616 13.3977 16.2948 13.0433 16.247C12.7718 16.2104 12.5414 16.068 12.2913 15.9666C12.0638 15.8743 11.8228 15.8097 11.6108 15.682C11.4592 15.5907 11.3484 15.4476 11.2085 15.3406C11.0377 15.2099 10.8593 15.0896 10.6928 14.9531C10.4913 14.788 10.351 14.5734 10.146 14.4112C10.0578 14.3414 9.97156 14.2595 9.87467 14.2012C9.81503 14.1653 9.74538 14.1565 9.69106 14.1104C9.36655 13.8348 9.11268 13.4986 8.89182 13.1403C8.78124 12.9609 8.68266 12.7791 8.58401 12.593C8.46836 12.3747 8.42639 12.1622 8.34505 11.9345C8.29939 11.8067 8.23214 11.436 8.03319 11.444C7.97479 11.4464 8.04222 12.0333 8.04129 12.116C8.04012 12.2196 7.99633 12.2998 7.97378 12.3979C7.96247 12.4471 7.9101 12.4855 7.92383 12.536C8.00238 12.8251 8.39209 12.9504 8.56916 13.1742C8.86876 13.5528 9.02488 13.9934 9.43185 14.2838C9.64695 14.4373 9.88908 14.5403 10.1096 14.6849C10.3184 14.8217 10.5855 15.198 10.8548 15.1848C11.1014 15.1727 11.3397 15.0844 11.5892 15.0913C11.7048 15.0945 11.5026 15.0405 11.4758 15.029C11.2481 14.9306 11.0166 14.8401 10.7846 14.7526C10.6214 14.691 10.4391 14.624 10.6888 14.7675C11.0881 14.9972 11.4649 15.2772 11.9106 15.4097C12.3183 15.531 12.7843 15.6392 13.2093 15.5926C13.3566 15.5765 13.4476 15.4991 13.5792 15.4571C13.7583 15.4001 13.956 15.4097 14.1382 15.3596C14.3144 15.3111 14.3886 15.1966 14.4959 15.0724C14.7179 14.8153 14.3951 14.9215 14.2367 14.9707C13.8337 15.0959 13.4301 15.1643 13.0176 15.2485C12.9543 15.2614 12.5538 15.3036 12.5397 15.4029C12.5322 15.4555 13.2818 15.6029 13.3551 15.6224C13.6132 15.6911 13.9817 15.7342 14.2354 15.6414C14.4086 15.578 14.5781 15.4925 14.7295 15.3867C14.7895 15.3447 14.8031 15.2872 14.851 15.2431C14.8769 15.2193 14.9458 15.2192 14.9806 15.1943C15.0509 15.1439 15.0466 15.1513 15.1304 15.1984C15.419 15.3605 15.6443 15.4439 15.8392 15.7227C15.9611 15.897 15.8652 16.0357 15.6786 16.1007C15.5438 16.1476 15.1683 16.2633 15.1844 16.0289C15.2012 15.7846 15.1328 15.4786 14.8132 15.6495C14.6205 15.7526 14.1062 16.1581 14.3015 16.06C14.3062 16.0577 14.4616 15.9831 14.4271 15.9666C14.2922 15.9018 13.9963 15.9541 13.8641 15.9584C13.4706 15.9713 13.0765 15.9937 12.6828 15.9937"
                                      stroke="#211F1F" stroke-width="1.35876" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M8.42931 8.77488C8.34632 8.69301 8.25191 8.56921 8.1377 8.53101"
                                      stroke="#211F1F" stroke-width="1.35876" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.31242 1.33172C5.50488 1.33172 4.69572 1.31677 3.88817 1.33172C3.53907 1.33819 3.18879 1.46436 2.8492 1.46436C2.12249 1.46436 1.80079 2.0096 1.35339 2.51069C0.955578 2.95624 0.99487 3.92172 1.00707 4.47072C1.02583 5.31514 1.05206 6.18205 1.07339 7.03497C1.08681 7.5721 1.28883 8.03774 1.22076 8.58236C1.14124 9.21846 1.1397 9.92287 1.1397 10.5645C1.1397 11.2588 1.16568 11.9633 1.35339 12.6203C1.53435 13.2537 1.33865 13.9853 1.33865 14.6319C1.33865 15.3197 1.33865 16.0074 1.33865 16.6951C1.33865 17.2551 1.33865 17.8151 1.33865 18.3751C1.33865 18.6012 1.27731 19.1108 1.41971 19.2888C1.68783 19.624 1.9032 19.6556 2.30393 19.7531C3.22501 19.9771 4.32884 19.8341 5.26608 19.8341C9.23763 19.8341 13.1883 19.7015 17.1515 19.7015C17.7513 19.7015 18.7838 19.898 19.0968 19.2373C19.3046 18.7986 19.3105 18.2058 19.3105 17.7267C19.3105 17.2629 19.4342 16.7628 19.4431 16.2898C19.5073 12.892 19.4507 9.49073 19.3768 6.0918C19.3497 4.8452 19.5517 3.63951 19.1484 2.42963C18.9412 1.80796 18.6943 0.987776 17.9031 1.00014C17.2343 1.01059 16.5624 1.13277 15.9136 1.13277C12.494 1.13277 9.05562 1.19909 5.64925 1.19909"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M12.0159 16.4519C12.0159 15.263 11.9496 14.0965 11.9496 12.9077C11.9496 11.7557 11.8101 10.4977 11.9533 9.35235C12.0286 8.74995 11.8998 8.05865 12.0306 7.46968C12.1398 6.97852 12.4016 6.66982 12.6459 6.23546C12.7587 6.03503 12.7712 5.92268 12.9775 5.80808C13.3544 5.59868 13.9199 5.68822 14.337 5.62755C14.5007 5.60375 15.4324 5.44562 15.5307 5.64229"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M9.5625 9.42227C11.4125 9.42227 13.3058 9.35596 15.1331 9.35596"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.6484 1.12535C13.5024 0.905241 11.2636 1.05903 9.10518 1.05903C7.39306 1.05903 5.64822 1.17975 3.94352 1.32798C3.53746 1.36329 3.14208 1.37482 2.7314 1.39061C2.33615 1.40581 2.03825 1.68097 1.68875 1.78851C1.21475 1.93436 1.25769 2.49083 1.25769 2.87906C1.25769 3.26218 1.22001 3.75414 1.11032 4.12434C0.896985 4.84434 1.05874 5.84204 1.05874 6.58911C1.05874 7.53843 1.05874 8.48774 1.05874 9.43705C1.05874 10.1465 0.934915 11.0053 1.06242 11.7066C1.34184 13.2433 1.2142 14.9306 1.25769 16.4961C1.27378 17.0753 1.39032 17.6612 1.39032 18.2351C1.39032 18.8459 1.55025 19.0655 1.95033 19.4656C2.3379 19.8532 3.11708 19.8809 3.63773 19.812C4.79185 19.6592 5.85434 19.4951 7.03094 19.4951C9.17887 19.4951 11.3268 19.4951 13.4747 19.4951C14.262 19.4951 15.0426 19.5614 15.829 19.5614C16.4341 19.5614 17.0341 19.6277 17.6379 19.6277C17.8731 19.6277 18.4221 19.5155 18.5516 19.2962C18.7594 18.9446 18.898 18.4684 18.898 18.0619C18.898 17.3339 19.0524 16.5646 19.1632 15.844C19.4349 14.0781 19.4285 12.3317 19.4285 10.546C19.4285 9.65382 19.4782 8.74616 19.3769 7.86019C19.2827 7.03539 19.4527 6.15533 19.2811 5.34015C19.154 4.73608 19.2032 4.12233 19.0601 3.50907C18.9226 2.92008 18.6204 2.0086 18.1058 1.62272C17.7617 1.36461 17.5355 1.06946 17.0558 1.05903C16.7562 1.05251 15.1673 0.893959 15.0516 1.12535"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M11.1389 6.62961C9.99883 6.52701 9.0352 6.25302 8.03676 6.89488C7.36028 7.32976 6.59114 7.7929 6.19462 8.52333C5.86503 9.13047 5.82243 9.80024 5.83356 10.4907C5.84006 10.8938 5.89114 11.3045 6.01778 11.6844C6.18684 12.1916 6.69213 12.6032 7.02727 13.0108C7.73153 13.8673 9.32596 14.4668 10.4168 14.1234C11.3377 13.8335 12.4416 13.1836 13.0105 12.3844C13.4984 11.6991 13.8428 10.83 13.8579 9.9823C13.8693 9.34274 13.7339 8.85764 13.5263 8.25806C13.1547 7.18445 12.0095 6.80543 11.0726 6.43066"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M15.1841 5.17063C14.9713 5.13009 14.4541 4.95742 14.3847 5.27011C14.3268 5.53051 14.2565 5.92125 14.591 6.03275C14.9044 6.13723 15.1888 6.15078 15.3831 5.84854C15.58 5.54216 15.5991 5.14598 15.2505 4.97168"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                    <p>«Другой Мёд», Россия, Алтайский край ©</p>
                </div>
            </div>
            <div class="col col-12 col-xl-6">
                <div class="footer-card common-social">
                    <h2>Бесплатная карта Клуба Друзей открывает доступ к специальным ценам и секретным рецептам</h2>

                    <div class="mobile-card">
                        <img src="img/friend-card.png" alt="">
                    </div>

                    <button class="b-animate b-yellow">
								<span class="bg">
									<svg width="290" height="52" viewBox="0 0 290 52" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
									<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z"
                                          fill="#FFC300"/>
									<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1"
                                          stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</span>
                        <span class="frame">
									<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
									</svg>
								</span>
                        <span class="text">Получить карту</span>
                    </button>

                    <div class="social">
                        <a href="#">
                            <svg width="23" height="19" viewBox="0 0 23 19" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.65285 1.01659C3.22656 1.01659 2.57638 0.906734 2.23072 1.25238C1.93961 1.5435 1.44665 1.67113 1.31703 2.0924C0.941431 3.31308 1.26545 4.80556 1.26545 6.05667C1.26545 7.97396 1.13281 9.87905 1.13281 11.7968C1.13281 12.5893 1.19913 13.3826 1.19913 14.1694C1.19913 14.8295 1.19224 15.4402 1.3465 16.0852C1.44131 16.4817 1.98062 17.5225 2.43336 17.5921C3.04131 17.6856 3.6946 17.5295 4.30128 17.5295C7.0092 17.5295 9.70398 17.3968 12.4104 17.3968C13.1177 17.3968 13.8197 17.4632 14.5214 17.4632C14.9685 17.4632 15.4155 17.4632 15.8625 17.4632C16.4147 17.4632 17.1878 17.6159 17.7083 17.43C18.1709 17.2648 18.9271 17.3968 19.4141 17.3968C19.9158 17.3968 20.3279 17.4123 20.7847 17.2274C21.903 16.7747 21.5369 15.3614 21.7058 14.3905C21.9631 12.9109 21.9563 11.3067 21.9563 9.80357C21.9563 8.37085 22.0289 6.90935 21.8937 5.48929C21.8314 4.83518 21.89 4.14972 21.89 3.49242C21.89 3.14516 21.9469 2.41858 21.7058 2.12924C21.6029 2.00576 21.4863 1.72644 21.3558 1.65029C21.1622 1.53739 20.9382 1.44847 20.7257 1.37765C19.6864 1.03119 18.6213 1.14923 17.5278 1.14923C16.2076 1.14923 14.8874 1.14923 13.5672 1.14923C10.042 1.14923 6.50924 1.01659 2.98968 1.01659"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M1 4.86279C1.33774 5.32212 1.7172 5.63862 2.28949 5.79123C2.60769 5.87608 2.87652 6.07609 3.16267 6.22597C4.46682 6.9091 5.91364 7.28645 7.23378 7.94653C8.41843 8.53885 9.72757 9.0093 10.8517 9.60445C11.1202 9.74659 11.3842 9.88869 11.6475 10.0392C12.0152 10.2493 11.9483 10.1568 12.2665 9.84392C12.4321 9.68111 12.6456 9.53838 12.8376 9.4055C13.4052 9.01248 14.2114 8.88622 14.8307 8.57653C15.8928 8.0455 16.9565 7.53801 18.0139 6.99967C18.6382 6.68186 19.2337 6.32317 19.8856 6.0565C20.2266 5.91698 20.6058 5.80269 20.9098 5.59228C21.1468 5.42817 21.3651 5.36128 21.6245 5.24596C21.8092 5.16388 22.0718 4.89211 21.7572 5.12806"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="23" height="24" viewBox="0 0 23 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.69628 17.8748C2.6103 18.3278 2.65465 18.7704 2.58709 19.2196C2.49892 19.8058 2.31842 20.3336 2.16026 20.9031C2.0592 21.267 1.91997 21.6931 1.89225 22.0686C1.86575 22.4275 1.3553 22.8027 1.94188 22.5368C2.73049 22.1794 3.5936 21.927 4.34903 21.5058C4.91978 21.1876 5.61194 21.0127 6.26978 21.0127"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M2.60807 17.6058C2.01741 16.766 1.61257 16.1408 1.31764 15.1452C1.0568 14.2647 1 13.3376 1 12.4257C1 10.3749 1.00557 8.27736 1.98271 6.4387C2.42206 5.612 2.93769 4.71301 3.61064 4.04789C4.30145 3.36512 5.28969 2.87064 6.18157 2.51379C6.66318 2.32109 7.24855 2.01981 7.75987 1.91609C10.1814 1.42489 12.9686 1.60685 15.3784 2.10038C16.4043 2.31049 17.7755 3.15438 18.4605 3.95326C18.8701 4.43093 19.1375 5.02973 19.5226 5.53219C19.8193 5.91922 20.131 6.30905 20.3664 6.73756C20.9948 7.88157 21.3642 9.3866 21.637 10.6575C22.0032 12.3639 22.092 14.1465 21.905 15.8824C21.7677 17.1568 21.2903 18.0143 20.3068 18.8311C17.7771 20.9321 14.6756 22.3575 11.3731 22.3575C10.1099 22.3575 8.56156 22.4376 7.41244 21.7997C7.0378 21.5917 6.63031 21.507 6.22128 21.3912C5.92452 21.3072 5.67074 21.1108 5.37754 21.0127"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M8.71349 11.3651C9.19595 10.726 9.55544 10.4545 9.1361 9.65959C8.86506 9.1458 8.68429 8.59576 8.51118 8.03983C8.36401 7.56721 7.59659 7.78233 7.4007 8.11653C7.12949 8.57923 6.82754 9.04526 6.60942 9.53777C6.09052 10.7095 7.01841 12.1512 7.80532 12.9713C8.47589 13.6701 9.13429 14.3809 9.85544 15.0242C10.6762 15.7563 11.9799 16.1822 12.9576 16.644C13.5512 16.9243 14.3253 16.7252 14.9448 16.7252C15.5144 16.7252 16.4014 16.4088 16.4014 15.7055C16.4014 15.4363 16.4014 15.1671 16.4014 14.8979C16.4014 14.6124 15.7695 14.6273 15.5112 14.6136C14.9112 14.5819 14.2322 14.2527 13.7713 13.8827C13.6747 13.8051 13.7773 14.2926 13.6859 14.4106C13.5211 14.6232 13.2574 14.6814 13.0385 14.8212C12.7396 15.0121 11.5215 14.4366 11.1592 14.3068C10.4456 14.051 9.72703 13.438 9.19904 12.9081C8.72858 12.436 8.80207 11.7827 8.47071 11.2839"
                                      stroke="#211F1F" stroke-width="1.35876" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M7.82258 8.38475C7.8502 8.37287 8.17884 8.24501 8.09799 8.31159C7.92084 8.45746 7.58576 8.56115 7.53772 8.8183C7.51283 8.95152 7.90401 8.82372 7.98864 8.82372C8.01924 8.82372 8.04984 8.82372 8.08044 8.82372C8.08177 8.82372 8.13724 8.82469 8.13039 8.83456C8.05928 8.93715 7.76734 9.00326 7.66597 9.04321C7.4346 9.1344 7.04366 9.20542 6.86674 9.39819C6.7941 9.47733 7.02976 9.44716 7.03144 9.44696C7.42932 9.40053 7.85518 9.2971 8.23705 9.17734C8.28814 9.16132 8.34156 9.16993 8.3923 9.15296C8.40348 9.14922 8.43486 9.14787 8.4274 9.15702C8.32634 9.28099 8.10593 9.35044 7.97108 9.42528C7.73809 9.55461 7.51351 9.70445 7.30416 9.86968C7.17927 9.96824 6.92665 10.1158 6.90319 10.2924C6.89657 10.3422 7.54591 10.211 7.56742 10.2057C7.8422 10.1379 8.10194 10.043 8.33965 9.88865C8.38412 9.85977 8.42682 9.84665 8.46791 9.80871C8.49569 9.78305 8.62368 9.59624 8.57321 9.65019C8.35352 9.88504 8.04037 10.032 7.77668 10.2084C7.49116 10.3994 7.09245 10.6235 6.91534 10.9346C6.89413 10.9718 6.85286 11.0392 6.93154 11.0227C7.16654 10.9734 7.41158 10.8611 7.62817 10.7639C8.01836 10.5888 8.34786 10.3722 8.64746 10.0716C8.76534 9.95326 9.14631 9.76189 8.80137 10.0241C8.33111 10.3817 7.7972 10.6461 7.32576 11.001C7.21601 11.0836 7.05051 11.2311 7.07465 11.3898C7.09977 11.5551 7.2292 11.4867 7.34466 11.4359C7.86107 11.2087 8.29696 10.9164 8.70282 10.5268C8.7575 10.4743 8.81603 10.449 8.88642 10.4238C8.89973 10.4191 8.87494 10.4505 8.86482 10.4604C8.66904 10.6517 8.45799 10.8269 8.26 11.0159C8.03148 11.2341 7.78579 11.4092 7.82798 11.7394C7.83759 11.8146 7.74849 11.8736 7.70377 11.9237C7.62644 12.0103 7.43968 12.2905 7.46481 12.177C7.51751 11.939 7.60364 11.698 7.56202 11.4494C7.52509 11.229 7.39457 10.992 7.26365 10.8113C7.16687 10.6778 7.04217 10.5854 6.90994 10.4889C6.77319 10.389 6.79536 10.2567 6.78303 10.0973C6.77939 10.0502 6.71825 9.70768 6.78843 9.7911C7.19726 10.277 7.4158 10.9214 7.70242 11.4833C7.89132 11.8536 8.07502 12.2401 8.3572 12.5496C8.62422 12.8425 8.92964 13.111 9.21314 13.3883C9.67456 13.8394 10.2579 14.2 10.8697 14.4071C11.3157 14.5581 11.7539 14.7544 12.2157 14.8529C12.8521 14.9886 13.5956 15.0094 14.1139 14.5521C14.1384 14.5304 14.1341 14.4577 14.1652 14.4681C14.2037 14.481 14.2558 14.5397 14.2975 14.5602C14.5194 14.6695 14.7907 14.6369 15.0238 14.716C15.3396 14.8232 15.6556 14.9306 15.9729 15.0331C16.1667 15.0957 16.1543 15.079 15.9958 15.1997C15.8938 15.2775 15.7702 15.3418 15.715 15.4626C15.6628 15.5768 15.6149 15.6933 15.5638 15.808C15.5066 15.9365 15.4525 16.0369 15.3127 16.0912C14.9445 16.2342 14.5194 16.2367 14.1301 16.2497C13.7741 16.2616 13.3977 16.2948 13.0433 16.247C12.7718 16.2104 12.5414 16.068 12.2913 15.9666C12.0638 15.8743 11.8228 15.8097 11.6108 15.682C11.4592 15.5907 11.3484 15.4476 11.2085 15.3406C11.0377 15.2099 10.8593 15.0896 10.6928 14.9531C10.4913 14.788 10.351 14.5734 10.146 14.4112C10.0578 14.3414 9.97156 14.2595 9.87467 14.2012C9.81503 14.1653 9.74538 14.1565 9.69106 14.1104C9.36655 13.8348 9.11268 13.4986 8.89182 13.1403C8.78124 12.9609 8.68266 12.7791 8.58401 12.593C8.46836 12.3747 8.42639 12.1622 8.34505 11.9345C8.29939 11.8067 8.23214 11.436 8.03319 11.444C7.97479 11.4464 8.04222 12.0333 8.04129 12.116C8.04012 12.2196 7.99633 12.2998 7.97378 12.3979C7.96247 12.4471 7.9101 12.4855 7.92383 12.536C8.00238 12.8251 8.39209 12.9504 8.56916 13.1742C8.86876 13.5528 9.02488 13.9934 9.43185 14.2838C9.64695 14.4373 9.88908 14.5403 10.1096 14.6849C10.3184 14.8217 10.5855 15.198 10.8548 15.1848C11.1014 15.1727 11.3397 15.0844 11.5892 15.0913C11.7048 15.0945 11.5026 15.0405 11.4758 15.029C11.2481 14.9306 11.0166 14.8401 10.7846 14.7526C10.6214 14.691 10.4391 14.624 10.6888 14.7675C11.0881 14.9972 11.4649 15.2772 11.9106 15.4097C12.3183 15.531 12.7843 15.6392 13.2093 15.5926C13.3566 15.5765 13.4476 15.4991 13.5792 15.4571C13.7583 15.4001 13.956 15.4097 14.1382 15.3596C14.3144 15.3111 14.3886 15.1966 14.4959 15.0724C14.7179 14.8153 14.3951 14.9215 14.2367 14.9707C13.8337 15.0959 13.4301 15.1643 13.0176 15.2485C12.9543 15.2614 12.5538 15.3036 12.5397 15.4029C12.5322 15.4555 13.2818 15.6029 13.3551 15.6224C13.6132 15.6911 13.9817 15.7342 14.2354 15.6414C14.4086 15.578 14.5781 15.4925 14.7295 15.3867C14.7895 15.3447 14.8031 15.2872 14.851 15.2431C14.8769 15.2193 14.9458 15.2192 14.9806 15.1943C15.0509 15.1439 15.0466 15.1513 15.1304 15.1984C15.419 15.3605 15.6443 15.4439 15.8392 15.7227C15.9611 15.897 15.8652 16.0357 15.6786 16.1007C15.5438 16.1476 15.1683 16.2633 15.1844 16.0289C15.2012 15.7846 15.1328 15.4786 14.8132 15.6495C14.6205 15.7526 14.1062 16.1581 14.3015 16.06C14.3062 16.0577 14.4616 15.9831 14.4271 15.9666C14.2922 15.9018 13.9963 15.9541 13.8641 15.9584C13.4706 15.9713 13.0765 15.9937 12.6828 15.9937"
                                      stroke="#211F1F" stroke-width="1.35876" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M8.42931 8.77488C8.34632 8.69301 8.25191 8.56921 8.1377 8.53101"
                                      stroke="#211F1F" stroke-width="1.35876" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.31242 1.33172C5.50488 1.33172 4.69572 1.31677 3.88817 1.33172C3.53907 1.33819 3.18879 1.46436 2.8492 1.46436C2.12249 1.46436 1.80079 2.0096 1.35339 2.51069C0.955578 2.95624 0.99487 3.92172 1.00707 4.47072C1.02583 5.31514 1.05206 6.18205 1.07339 7.03497C1.08681 7.5721 1.28883 8.03774 1.22076 8.58236C1.14124 9.21846 1.1397 9.92287 1.1397 10.5645C1.1397 11.2588 1.16568 11.9633 1.35339 12.6203C1.53435 13.2537 1.33865 13.9853 1.33865 14.6319C1.33865 15.3197 1.33865 16.0074 1.33865 16.6951C1.33865 17.2551 1.33865 17.8151 1.33865 18.3751C1.33865 18.6012 1.27731 19.1108 1.41971 19.2888C1.68783 19.624 1.9032 19.6556 2.30393 19.7531C3.22501 19.9771 4.32884 19.8341 5.26608 19.8341C9.23763 19.8341 13.1883 19.7015 17.1515 19.7015C17.7513 19.7015 18.7838 19.898 19.0968 19.2373C19.3046 18.7986 19.3105 18.2058 19.3105 17.7267C19.3105 17.2629 19.4342 16.7628 19.4431 16.2898C19.5073 12.892 19.4507 9.49073 19.3768 6.0918C19.3497 4.8452 19.5517 3.63951 19.1484 2.42963C18.9412 1.80796 18.6943 0.987776 17.9031 1.00014C17.2343 1.01059 16.5624 1.13277 15.9136 1.13277C12.494 1.13277 9.05562 1.19909 5.64925 1.19909"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M12.0159 16.4519C12.0159 15.263 11.9496 14.0965 11.9496 12.9077C11.9496 11.7557 11.8101 10.4977 11.9533 9.35235C12.0286 8.74995 11.8998 8.05865 12.0306 7.46968C12.1398 6.97852 12.4016 6.66982 12.6459 6.23546C12.7587 6.03503 12.7712 5.92268 12.9775 5.80808C13.3544 5.59868 13.9199 5.68822 14.337 5.62755C14.5007 5.60375 15.4324 5.44562 15.5307 5.64229"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M9.5625 9.42227C11.4125 9.42227 13.3058 9.35596 15.1331 9.35596"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.6484 1.12535C13.5024 0.905241 11.2636 1.05903 9.10518 1.05903C7.39306 1.05903 5.64822 1.17975 3.94352 1.32798C3.53746 1.36329 3.14208 1.37482 2.7314 1.39061C2.33615 1.40581 2.03825 1.68097 1.68875 1.78851C1.21475 1.93436 1.25769 2.49083 1.25769 2.87906C1.25769 3.26218 1.22001 3.75414 1.11032 4.12434C0.896985 4.84434 1.05874 5.84204 1.05874 6.58911C1.05874 7.53843 1.05874 8.48774 1.05874 9.43705C1.05874 10.1465 0.934915 11.0053 1.06242 11.7066C1.34184 13.2433 1.2142 14.9306 1.25769 16.4961C1.27378 17.0753 1.39032 17.6612 1.39032 18.2351C1.39032 18.8459 1.55025 19.0655 1.95033 19.4656C2.3379 19.8532 3.11708 19.8809 3.63773 19.812C4.79185 19.6592 5.85434 19.4951 7.03094 19.4951C9.17887 19.4951 11.3268 19.4951 13.4747 19.4951C14.262 19.4951 15.0426 19.5614 15.829 19.5614C16.4341 19.5614 17.0341 19.6277 17.6379 19.6277C17.8731 19.6277 18.4221 19.5155 18.5516 19.2962C18.7594 18.9446 18.898 18.4684 18.898 18.0619C18.898 17.3339 19.0524 16.5646 19.1632 15.844C19.4349 14.0781 19.4285 12.3317 19.4285 10.546C19.4285 9.65382 19.4782 8.74616 19.3769 7.86019C19.2827 7.03539 19.4527 6.15533 19.2811 5.34015C19.154 4.73608 19.2032 4.12233 19.0601 3.50907C18.9226 2.92008 18.6204 2.0086 18.1058 1.62272C17.7617 1.36461 17.5355 1.06946 17.0558 1.05903C16.7562 1.05251 15.1673 0.893959 15.0516 1.12535"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M11.1389 6.62961C9.99883 6.52701 9.0352 6.25302 8.03676 6.89488C7.36028 7.32976 6.59114 7.7929 6.19462 8.52333C5.86503 9.13047 5.82243 9.80024 5.83356 10.4907C5.84006 10.8938 5.89114 11.3045 6.01778 11.6844C6.18684 12.1916 6.69213 12.6032 7.02727 13.0108C7.73153 13.8673 9.32596 14.4668 10.4168 14.1234C11.3377 13.8335 12.4416 13.1836 13.0105 12.3844C13.4984 11.6991 13.8428 10.83 13.8579 9.9823C13.8693 9.34274 13.7339 8.85764 13.5263 8.25806C13.1547 7.18445 12.0095 6.80543 11.0726 6.43066"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M15.1841 5.17063C14.9713 5.13009 14.4541 4.95742 14.3847 5.27011C14.3268 5.53051 14.2565 5.92125 14.591 6.03275C14.9044 6.13723 15.1888 6.15078 15.3831 5.84854C15.58 5.54216 15.5991 5.14598 15.2505 4.97168"
                                      stroke="#211F1F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                    <p>«Другой Мёд», Россия, Алтайский край ©</p>

                    <a href="#">Политика конфеденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>
