<!-- Модальное "Регистрация" -->
<div class="remodal remodal-regist" data-remodal-id="regist">
    <button data-remodal-action="close" class="remodal-close-custom">
        <svg class="absolute-center" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.6747 13.2811C3.76644 10.4873 6.45187 8.04789 8.91019 5.58958C10.4331 4.0667 11.956 2.54381 13.4788 1.02093" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1.00044 1.45757C4.21053 4.66767 7.59237 7.65849 10.9366 10.7223C11.156 10.9233 13.3544 12.7545 13.0905 12.8635" stroke="#211F1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    <div class="upper-side">
        <p>Зарегистрируйтесь на сайте</p>
    </div>
    <div class="common-form regist-form">
        <form id="regist-form">
            <div class="form-group">
                <label for="regist_name">Имя</label>
                <input type="text" name="name" id="regist_name">
            </div>
            <div class="form-group">
                <label for="regist_phone">Телефон</label>
                <input type="text" name="phone" id="regist_phone">
            </div>
            <div class="form-group pass-group">
                <label for="regist_pass">Придумайте пароль</label>
                <input type="password" name="pass" class="pass-input" id="regist_pass">
                <div class="pass-control"></div>
            </div>
            <div class="form-group pass-group">
                <label for="regist_confirm">Повторите пароль</label>
                <input type="password" name="confirm" class="pass-input" id="regist_confirm">
                <div class="pass-control"></div>
            </div>
            <div class="form-group checkbox-container">
                <input type="checkbox" name="checkbox" id="regist_checkbox">
                <label for="regist_checkbox">Регистрируясь я подтверждаю своё согласие на обработку данных в соответствии с нашей <a href="#">политикой конфиденциальности</a>.</label>
            </div>
            <button type="submit" class="b-animate b-yellow">
					<span class="bg">
						<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M154.527 2.40747C198.694 2.40747 242.859 3.09036 286.995 3.11073C285.913 7.35997 285.519 12.2014 285.519 16.4821C285.519 23.637 284.823 30.6845 284.823 37.9069C284.823 41.7426 284.28 45.5311 284.127 49.4012C284.057 51.1575 275.71 50.2613 274.071 50.2613H244.214H148.378C128.12 50.2613 107.74 49.5576 87.4265 49.5576C70.0277 49.5576 52.5895 50.5327 35.1381 50.2613C27.6069 50.1442 20.1445 50.2613 12.5906 50.2613C10.9893 50.2613 2.17659 52.1594 1.52962 49.8703C0.162428 45.033 1.82763 38.0842 2.22577 33.2544C2.81285 26.1327 3.57939 19.015 3.57939 11.8688C3.57939 7.95933 2.84534 6.25593 6.36398 4.67505C8.75637 3.60018 13.1596 4.51867 15.7233 4.51867H29.8783C48.9129 4.51867 67.9018 2.40747 87.0011 2.40747H154.527Z" fill="#FFC300"/>
							<path d="M289 3.1112C244.197 3.1112 199.362 2.40747 154.527 2.40747C132.019 2.40747 109.51 2.40747 87.0011 2.40747C67.9018 2.40747 48.9129 4.51866 29.8783 4.51866C25.16 4.51866 20.4416 4.51866 15.7233 4.51866C13.1596 4.51866 8.75637 3.60018 6.36398 4.67505C2.84534 6.25593 3.57939 7.95933 3.57939 11.8688C3.57939 19.015 2.81285 26.1327 2.22577 33.2544C1.82763 38.0842 0.162428 45.033 1.52962 49.8703C2.17659 52.1594 10.9893 50.2613 12.5906 50.2613C20.1445 50.2613 27.6069 50.1442 35.1381 50.2613C52.5895 50.5327 70.0278 49.5576 87.4265 49.5576C107.74 49.5576 128.12 50.2613 148.378 50.2613C180.48 50.2613 212.176 50.2613 244.214 50.2613C254.167 50.2613 264.119 50.2613 274.071 50.2613C275.71 50.2613 284.057 51.1575 284.127 49.4012C284.28 45.5311 284.823 41.7426 284.823 37.9069C284.823 30.6845 285.519 23.637 285.519 16.4821C285.519 11.4735 286.059 5.69715 287.608 1" stroke="#FFC300" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</span>
                <span class="frame">
						<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
						</svg>
					</span>
                <span class="text">Зарегистрироваться</span>
            </button>
            <div class="services">
                <p>Регистрация через сервисы:</p>
                <div class="wrapper">
                    <a href="#">
                        <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.81361 1.55287C7.15953 1.52795 8.50813 1.55287 9.85402 1.55287L8.74874 1.33181C14.426 1.33181 20.1566 1.22129 25.856 1.22129C26.9374 1.22129 28.0572 1.01765 29.1719 1.00023C30.4905 0.979626 30.902 2.34661 31.2473 3.38272C31.9195 5.39918 31.5829 7.40866 31.628 9.48633C31.7512 15.1512 31.8454 20.8199 31.7386 26.4831C31.7237 27.2714 31.5175 28.1048 31.5175 28.8779C31.5175 29.6764 31.5077 30.6643 31.1614 31.3954C30.6397 32.4967 28.9189 32.1691 27.9192 32.1691C21.3138 32.1691 14.7294 32.3902 8.11014 32.3902C6.54806 32.3902 4.70835 32.6285 3.17322 32.2551C2.50533 32.0926 2.14639 32.04 1.69951 31.4814C1.46218 31.1847 1.56442 30.3353 1.56442 29.9586V27.1585V23.7199C1.56442 22.6422 1.89058 21.4228 1.58898 20.3672C1.27613 19.2722 1.23284 18.098 1.23284 16.9408C1.23284 15.8715 1.23541 14.6974 1.36793 13.6373C1.48139 12.7296 1.14469 11.9535 1.12231 11.0583C1.08677 9.63675 1.04306 8.19191 1.01178 6.78453C0.99145 5.86953 0.925963 4.2604 1.58898 3.51781C2.33466 2.68266 2.87082 1.77393 4.08201 1.77393C4.64798 1.77393 5.23178 1.56364 5.81361 1.55287Z" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.3605 26.7533C19.3605 24.7717 19.25 22.8275 19.25 20.8462C19.25 18.9262 19.0175 16.8296 19.2561 14.9207C19.3816 13.9167 19.1669 12.7645 19.3851 11.7829C19.567 10.9643 20.0033 10.4498 20.4105 9.72584C20.5984 9.3918 20.6193 9.20456 20.9632 9.01355C21.5914 8.66455 22.5339 8.81377 23.229 8.71267C23.5017 8.67299 25.0546 8.40945 25.2185 8.73723" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.2715 15.037C18.3548 15.037 21.5104 14.9265 24.5558 14.9265" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.81361 1.55287C7.15953 1.52795 8.50813 1.55287 9.85402 1.55287L8.74874 1.33181C14.426 1.33181 20.1566 1.22129 25.856 1.22129C26.9374 1.22129 28.0572 1.01765 29.1719 1.00023C30.4905 0.979626 30.902 2.34661 31.2473 3.38272C31.9195 5.39918 31.5829 7.40866 31.628 9.48633C31.7512 15.1512 31.8454 20.8199 31.7386 26.4831C31.7237 27.2714 31.5175 28.1048 31.5175 28.8779C31.5175 29.6764 31.5077 30.6643 31.1614 31.3954C30.6397 32.4967 28.9189 32.1691 27.9192 32.1691C21.3138 32.1691 14.7294 32.3902 8.11014 32.3902C6.54806 32.3902 4.70835 32.6285 3.17322 32.2551C2.50533 32.0926 2.14639 32.04 1.69951 31.4814C1.46218 31.1847 1.56442 30.3353 1.56442 29.9586V27.1585V23.7199C1.56442 22.6422 1.89058 21.4228 1.58898 20.3672C1.27613 19.2722 1.23284 18.098 1.23284 16.9408C1.23284 15.8715 1.23541 14.6974 1.36793 13.6373C1.48139 12.7296 1.14469 11.9535 1.12231 11.0583C1.08677 9.63675 1.04306 8.19191 1.01178 6.78453C0.99145 5.86953 0.925963 4.2604 1.58898 3.51781C2.33466 2.68266 2.87082 1.77393 4.08201 1.77393C4.64798 1.77393 5.23178 1.56364 5.81361 1.55287Z" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 9.33325C6.02592 10.66 6.08867 12.0237 6.25604 13.3188C6.34416 14.0007 6.42258 14.7025 6.52657 15.3834C6.64728 16.1737 6.9592 16.793 7.26087 17.5113C7.6801 18.5095 8.10389 19.4805 8.67633 20.3638C9.22797 21.2152 9.97609 21.8882 10.6087 22.6413C11.337 23.5083 12.4236 24.2401 13.372 24.6772C14.2516 25.0825 15.092 25.6396 16 25.9999" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16 25.9999C16 24.6227 16 23.3674 16 22.0079C16 20.8021 16 19.6665 16 18.465C16 16.7838 16 15.0809 16 13.3807C16 12.0295 16 10.69 16 9.33325" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26 9.33325C25.84 10.2677 25.682 11.2441 25.6116 12.183C25.5302 13.2711 23.7162 14.3022 22.8177 14.683C20.7167 15.5736 18.2955 15.9999 16 15.9999" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21 16C21.7455 17.9962 23.1487 19.2435 23.7037 21.3384C23.8347 21.8329 24.1219 22.1772 24.3333 22.6028C24.5543 23.0476 24.7006 23.551 24.9213 23.9885C25.2073 24.5556 26 25.2658 26 26" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.81361 1.55287C7.15953 1.52795 8.50813 1.55287 9.85402 1.55287L8.74874 1.33181C14.426 1.33181 20.1566 1.22129 25.856 1.22129C26.9374 1.22129 28.0572 1.01765 29.1719 1.00023C30.4905 0.979626 30.902 2.34661 31.2473 3.38272C31.9195 5.39918 31.5829 7.40866 31.628 9.48633C31.7512 15.1512 31.8454 20.8199 31.7386 26.4831C31.7237 27.2714 31.5175 28.1048 31.5175 28.8779C31.5175 29.6764 31.5077 30.6643 31.1614 31.3954C30.6397 32.4967 28.9189 32.1691 27.9192 32.1691C21.3138 32.1691 14.7294 32.3902 8.11014 32.3902C6.54806 32.3902 4.70835 32.6285 3.17322 32.2551C2.50533 32.0926 2.14639 32.04 1.69951 31.4814C1.46218 31.1847 1.56442 30.3353 1.56442 29.9586V27.1585V23.7199C1.56442 22.6422 1.89058 21.4228 1.58898 20.3672C1.27613 19.2722 1.23284 18.098 1.23284 16.9408C1.23284 15.8715 1.23541 14.6974 1.36793 13.6373C1.48139 12.7296 1.14469 11.9535 1.12231 11.0583C1.08677 9.63675 1.04306 8.19191 1.01178 6.78453C0.99145 5.86953 0.925963 4.2604 1.58898 3.51781C2.33466 2.68266 2.87082 1.77393 4.08201 1.77393C4.64798 1.77393 5.23178 1.56364 5.81361 1.55287Z" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.7529 7.58984C23.0508 9.16186 23.4586 10.7021 23.7138 12.2844C24.1295 14.8618 24.3273 17.3953 24.4185 19.999C24.4696 21.4605 24.3035 23.062 24.5237 24.5151C24.5998 25.0173 24.6817 25.5126 24.7342 26.0113C24.7697 26.3492 24.8782 26.6887 24.8943 27.0271C24.9152 27.4653 24.9767 25.8935 24.9767 25.7917" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.8481 7.67207C20.3005 7.42932 18.6875 7.50735 17.126 7.50735C15.4716 7.50735 13.8501 7.3799 12.2667 7.88255C10.5762 8.41922 8.58789 9.57824 8.58789 11.5842C8.58789 12.3771 8.82109 13.2176 9.55792 13.6661C10.5165 14.2496 11.6993 14.5764 12.77 14.8695C13.7415 15.1355 14.7448 15.3317 15.7533 15.3317C17.2451 15.3317 18.7389 15.2638 20.2191 15.2493C21.2163 15.2395 22.2136 15.1808 23.2116 15.167C23.5225 15.1626 23.8261 15.0965 24.1359 15.0846C24.2967 15.0784 23.8179 15.1354 23.66 15.167" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.8351 15.4141C22.0474 15.7438 21.228 16.3528 20.5427 16.86C19.8019 17.4081 19.0023 18.1614 18.4699 18.919C17.2995 20.5846 15.5787 21.6138 13.8165 22.5749C12.7739 23.1436 11.8207 23.8186 10.8378 24.4738C10.2043 24.8961 9.40955 25.3594 8.66895 25.5445" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.81361 1.55287C7.15953 1.52795 8.50813 1.55287 9.85402 1.55287L8.74874 1.33181C14.426 1.33181 20.1566 1.22129 25.856 1.22129C26.9374 1.22129 28.0572 1.01765 29.1719 1.00023C30.4905 0.979626 30.902 2.34661 31.2473 3.38272C31.9195 5.39918 31.5829 7.40866 31.628 9.48633C31.7512 15.1512 31.8454 20.8199 31.7386 26.4831C31.7237 27.2714 31.5175 28.1048 31.5175 28.8779C31.5175 29.6764 31.5077 30.6643 31.1614 31.3954C30.6397 32.4967 28.9189 32.1691 27.9192 32.1691C21.3138 32.1691 14.7294 32.3902 8.11014 32.3902C6.54806 32.3902 4.70835 32.6285 3.17322 32.2551C2.50533 32.0926 2.14639 32.04 1.69951 31.4814C1.46218 31.1847 1.56442 30.3353 1.56442 29.9586V27.1585V23.7199C1.56442 22.6422 1.89058 21.4228 1.58898 20.3672C1.27613 19.2722 1.23284 18.098 1.23284 16.9408C1.23284 15.8715 1.23541 14.6974 1.36793 13.6373C1.48139 12.7296 1.14469 11.9535 1.12231 11.0583C1.08677 9.63675 1.04306 8.19191 1.01178 6.78453C0.99145 5.86953 0.925963 4.2604 1.58898 3.51781C2.33466 2.68266 2.87082 1.77393 4.08201 1.77393C4.64798 1.77393 5.23178 1.56364 5.81361 1.55287Z" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.329 8.5908C8.86745 9.30724 7.37235 9.71363 6.81486 11.3861C6.37454 12.7071 6.01619 13.7987 6.01619 15.2197C6.01619 16.8589 6.01619 18.498 6.01619 20.1372C6.01619 21.169 5.88909 22.3172 6.34707 23.2748C6.94265 24.5201 8.25073 25.6011 9.56454 26.0473C10.074 26.2203 11.3414 26.5729 11.6411 25.8647C11.9251 25.1934 12.5319 24.5632 13.0444 24.0506C14.5493 22.5458 15.2079 20.2088 15.7713 18.2204C16.5466 15.484 16.5391 12.5127 14.8471 10.1083C14.1773 9.15644 13.0753 8.73268 12.0404 8.30557C11.6997 8.16496 11.3214 7.95489 10.9451 7.97469C10.5793 7.99394 9.93813 8.02723 10.5343 8.28275" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.0566 7.76929C19.0566 9.94776 19.262 12.0959 19.262 14.2727C19.262 16.2127 19.5271 18.1565 19.8268 20.0744C19.9354 20.7695 19.8781 21.4996 19.8781 22.2023C19.8781 22.6629 19.9808 23.091 19.9808 23.5372C19.9808 24.1724 20.0835 24.7784 20.0835 25.4083C20.0835 25.8635 19.9121 27.4341 20.3915 26.3553" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26.8613 7.66675C26.8613 7.94795 26.9719 8.48716 26.8042 8.75065C26.4067 9.37535 26.0334 10.0311 25.6747 10.6788C24.9854 11.9235 23.9146 13.1641 22.868 14.1302C22.545 14.4283 22.2474 14.7538 21.9324 15.0601C21.6389 15.3454 21.2337 15.4808 20.9569 15.7789C20.7189 16.0351 20.366 16.1322 20.1069 16.3722C20.0592 16.4163 19.8593 16.5062 19.93 16.5718C20.2704 16.8879 20.7715 17.0796 21.1565 17.342C22.6158 18.3362 24.416 19.3576 25.3666 20.9131C25.7573 21.5524 26.4073 22.0324 26.8099 22.6588C27.0173 22.9813 27.5483 23.6184 27.8881 23.7883" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.81361 1.55287C7.15953 1.52795 8.50813 1.55287 9.85402 1.55287L8.74874 1.33181C14.426 1.33181 20.1566 1.22129 25.856 1.22129C26.9374 1.22129 28.0572 1.01765 29.1719 1.00023C30.4905 0.979626 30.902 2.34661 31.2473 3.38272C31.9195 5.39918 31.5829 7.40866 31.628 9.48633C31.7512 15.1512 31.8454 20.8199 31.7386 26.4831C31.7237 27.2714 31.5175 28.1048 31.5175 28.8779C31.5175 29.6764 31.5077 30.6643 31.1614 31.3954C30.6397 32.4967 28.9189 32.1691 27.9192 32.1691C21.3138 32.1691 14.7294 32.3902 8.11014 32.3902C6.54806 32.3902 4.70835 32.6285 3.17322 32.2551C2.50533 32.0926 2.14639 32.04 1.69951 31.4814C1.46218 31.1847 1.56442 30.3353 1.56442 29.9586V27.1585V23.7199C1.56442 22.6422 1.89058 21.4228 1.58898 20.3672C1.27613 19.2722 1.23284 18.098 1.23284 16.9408C1.23284 15.8715 1.23541 14.6974 1.36793 13.6373C1.48139 12.7296 1.14469 11.9535 1.12231 11.0583C1.08677 9.63675 1.04306 8.19191 1.01178 6.78453C0.99145 5.86953 0.925963 4.2604 1.58898 3.51781C2.33466 2.68266 2.87082 1.77393 4.08201 1.77393C4.64798 1.77393 5.23178 1.56364 5.81361 1.55287Z" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M23.6242 11.2208C22.7231 9.91523 21.8537 9.1771 20.5162 8.41576C19.0973 7.60811 18.164 7.66774 16.5008 7.66774C15.2355 7.66774 13.9671 7.75599 12.7775 7.85474C11.8386 7.93268 10.0576 9.2236 9.3983 9.95336C8.1486 11.3366 7.66699 13.9835 7.66699 15.8025C7.66699 17.0654 7.76368 18.1527 8.03203 19.3556C8.27934 20.4642 8.05487 21.5537 8.52222 22.6178C9.0934 23.9183 10.114 24.0244 11.1922 24.6853C12.1919 25.2981 13.9516 25.8073 15.1345 25.8073C15.9378 25.8073 16.6926 26.0392 17.5333 25.9943C18.6175 25.9365 19.6453 25.1929 20.5371 24.6853C20.9226 24.4658 21.4744 23.931 21.7052 23.5632C22.0268 23.0506 22.5805 22.8295 22.9567 22.3477C24.1366 20.8365 25.5499 17.018 22.4978 17.018C19.4156 17.018 16.3776 16.644 13.2989 16.644" stroke="#211F1F" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <p>или</p>
            <button class="b-animate b-white" data-remodal-action="close" data-remodal-target="regist">
					<span class="bg">
						<svg width="290" height="52" viewBox="0 0 290 52" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M191.728 2.12871C224.403 2.12871 256.292 1.59994 289 1.59994L281 2L285.514 6.00208C285.514 17.608 285.867 23.1202 287.591 34.973C288.086 38.3726 288.263 41.6041 288.263 45.1058C288.263 48.2549 285.403 48.2665 282.413 47.3963C275.017 45.2444 265.743 46.8528 258.022 46.8528C250.635 46.8528 243.269 47.461 235.924 48.0951C214.857 49.914 193.461 46.8418 172.397 48.9104C161.458 49.9848 150.003 48.9493 138.993 48.9493C126.929 48.9493 114.761 48.5047 102.704 48.9881C70.3628 50.2845 37.4449 51.937 5.06149 50.3469C0.244113 50.1103 1.32372 48.6365 1.50368 45.4552C1.64182 43.0132 1.50368 40.5237 1.50368 38.0788V15.7556C1.50368 12.8083 -0.550639 6.32159 3.63836 6.32159C5.68508 6.32159 10.1012 5.57662 11.6237 4.38044C13.4141 2.97375 18.1229 3.65455 20.3601 3.17693C28.029 1.53963 35.9325 2.43019 43.723 1.97342C74.557 0.165563 105.664 1.42989 136.345 1.42989C154.831 1.42989 173.235 2.12871 191.728 2.12871Z" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</span>
                <span class="frame">
						<svg class="set-vb" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="1" y="1" stroke="#FFC300" stroke-width="2"/>
						</svg>
					</span>
                <span class="text">Войти</span>
            </button>
        </form>
    </div>
    <div class="card">
        <p>и добавить «Карту Дружбы» в личном кабинете</p>
        <img src="img/friend-card.png" alt="">
    </div>
</div>
<!-- /Модальное "Регистрация" -->
